* {
	font-family: 'Muli', sans-serif;

}
body {
	background-color: none;
}

/* Navigation Bar */
.navbar {
	background-color: E7E7E7;
}
.nav-item {
	float:right;
}
.navbar-nav {
	position: absolute;
	right:0%;
}


/* contact   */
.contact {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}
.contact .btn-primary {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	color: grey;
}
.contact .btn:focus {
	text-decoration-color: none;
	outline: none;
	box-shadow: none;
}
.contact .btn:hover {
    transition: all 280ms ease-in-out;
	letter-spacing: 3px;
	border: 1px solid rgba(#fff, 0);
}
.contact-p {
	margin-left: auto;
	margin-right: auto;
}
.contact .card-body {
	height: 8vh;
}
.contact .social {
	position: absolute;
	left: 1rem;
	top:0;
}

/*     main content area       */
.main h1 {
	font-size: 30rem;
	letter-spacing: 7px;
	color: white;
}
.main h2 {
	font-size: 40px;
	letter-spacing: 5px;
	color: white;
}
.intro h1 {
	font-size: 7rem;
}
.intro h2 {
	font-size: 7rem;
}
.intro {
	margin-top: 5rem;
}
.img-thumbnail {
	border-radius: 50%;
	height: 18rem;
	width: 18rem;
}
