* {
	font-family: 'Muli', sans-serif;

}
body {
	background-color: #E7E7E7;
}

/* Navigation Bar */
.navbar {
	background-color: E7E7E7;
}
.nav-item {
	float:right;
}
.navbar-nav {
	position: absolute;
	right:0%;
}

/*  Main Screen   */


/* contact   */
.contact {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}
.contact-p {
	margin-left: auto;
	margin-right: auto;
}
.contact .card-body {
	height: 8vh;
}
.contact .card .fa {
	position: absolute;
	vertical-align: middle;

}
.contact .card .fa-linkedin-square {
	left: 1rem;
}
.contact .card .fa-github {
	left: 4rem;
}


.placeholder img{
	height: 20rem;
	width: 25rem;
}
.main h1 {
	font-size: 50px;
	letter-spacing: 7px;
	color: white;
}
.main h2 {
	font-size: 40px;
	letter-spacing: 5px;
	color: white;
}
.work {
	text-align: center;
	margin-top: 2rem;
}
.work h1 {
	font-size: 30px;
}
.col-md-4 {
	display: inline-block;
}
.project {
	height: 14em;
	width: 16em;
	margin:1em 2em;
	background-color: grey;
	
}
.project p {
	font-size: 20px;
}

